page-login {
  .content > .scroll-content {
    box-sizing: border-box;
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 20px; //0.9em;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #4C7C72;
    display: flex;
  }
  .login-form-container {
    height: 100%;
    align-items: center;
    .login-form {
      background-color: #DEE0DE; //rgba(orange, 0.9);
      align-items: center;
      justify-content: center;
      height: 35vh;
      form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
      }
      .item-block {
        background-color: transparent;
        .item-inner {
          border-bottom: 1px solid #ffffff;
          //border-bottom: none;
        }
      }
    }
  }
}
