<div>
  <ion-item  class="titulo">{{pelicula.titulo | mituberia }}</ion-item>

  <!--
    <ion-item class="titulo" *ngIf="pelicula.minduracion.length != 0" {{pelicula.minduracion | mituberia}}> </ion-item>
  <ion-item class="titulo" *ngIf="hrsd > 0">  {{hrsd}} hrs </ion-item>
  <ion-item class="titulo" *ngIf="mind > 0">  {{mind}} min </ion-item>
  -->

  <h3>Esta es la frase: <span class="frase">{{ pelicula.frase }}</span>
                       <span class="autor">{{ pelicula.autor }}</span>
  </h3>
  <ion-item  (click)="favorita()">
    <ion-icon ios="ios-star-outline" md="md-star-outline" name="favorita"></ion-icon>
      Favorita
  </ion-item>
  <img [src]="pelicula.url"/>
  <p class="caja">
    <clasifica></clasifica>
        {{pelicula.sinapsis}}
    <puntaje></puntaje>
  </p>
  <div class="actions-group">
    <button ion-button color="secondary" (click)="meGustoPeli()">
      Me gusta
    </button>
    <button ion-button color="danger" (click)="noGustoPeli()">
      No me gusta
    </button>
    <!--
    <ion-icon item-start name="favorita"(click)="favorita()"></ion-icon>
      Favorita
    -->
</div>
</div>
