<ion-header>
  <ion-navbar>
    <ion-title>Bienvenido, {{user}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
 <!--  <ion-list-header>Peliculas que me gustaron</ion-list-header>
  <ion-item *ngFor="let m of misFavoritas">{{m.titulo}} - {{m.puntaje}}</ion-item> -->
</ion-list>
    <ion-item>
        <ion-avatar item-start>
    <!--      <movie-info *ngFor="let m of peliculas" [pelicula]='m' (movieAction)='action($event, m)'></movie-info> -->
         <minilist *ngFor="let m of peliculas" [pelicula]='m' tappable (click)="verDetalle(m)"> </minilist>
      </ion-avatar>
    </ion-item>
</ion-content>
